* {
  margin: 0;
  padding: 0;
}

/* BODY STYLING */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.mainBody {
  transition: 0.4s ease-in-out;
}

/* NAVBAR STYLING */
nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 2%;
  align-items: center;
  font-size: 23px;
  transition: 0.25s ease-in-out;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.navBarParent {
  display: flex;
  justify-content: center;
}

.logo {
  color: white;
}

svg {
  display: flex;
  transition: 0.25s ease-in-out;
}

.Modes {
  background-color: #302F4D;
  border-radius: 43px;
  width: 43px;
  height: 43px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out;
}

/* QUIZBOX STYLING */
.quizBox {
  margin-top: 50px;
  width: 80%;
  height: auto;
  display: flex;
  border-radius: 13px;
  background-color: #302F4D;
  justify-content: center;
  transition: 1s ease-in-out;
  align-content: center;
}

/* SCOREPAGE STYLING */
.restartBox {
  margin-top: 50px;
  width: 80%;
  height: 550px;
  display: flex;
  border-radius: 13px;
  background-color: #302F4D;
  justify-content: center;
  transition: 1s ease-in-out;
  align-content: center;
}

.mainQuizBox {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
  transition: 0.25s ease-in-out;
}

.QnsDiv {
  display: flex;
  justify-content: center;
  transition: 0.25s ease-in-out;
}


/* NTH QUESTION STYLING */
.noOfQns {
  text-align: center;
  position: absolute;
  top: 50px;
  width: 166px;
  height: 166px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #302F4D;
  font-weight: 600;
  color: white;
  border: 5px solid #FFE500;
  stroke-width: 3px;
  transition: 0.25s ease-in-out;
}

/* CIRCLE DECORATIONS MISC. */
.circleDecorations {
  display: flex;
  position: absolute;
  left: 190px;
  margin-top: 20px;

}

.flex {
  display: flex;
  justify-content: space-around;
  width: 50px;
}

.circle1 {
  background-color: #EC3F7A;
  width: 12px;
  height: 12px;
  border-radius: 12px;

}

.circle2 {
  background-color: #FFEB3B;
  width: 12px;
  height: 12px;
  border-radius: 12px;

}

.circle3 {
  background-color: #2196F3;
  width: 12px;
  height: 12px;
  border-radius: 12px;

}

/* QUESTION DIV STYLING */
.ParentQuestionDiv {
  display: flex;
  justify-content: center;
}

.questionDiv {
  margin-top: 15%;
  font-size: larger;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.QuestionHeader {
  text-align: center;
  font-size: 200%;
  width: 680%;
}

/* OPTION STYLING */
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  column-gap: 10px;
  height: auto;
  row-gap: 30px;
  margin-top: 3%;
}

.optionBtn {
  height: 60px;
  width: 90%;
  background-color: #25243C;
  border: none;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
}

.optionBtn:hover {
  background-color: #101010;
}

/* HIGHLIGHT STYLING */
.parentHighlight {
  display: flex;
  justify-content: center;
}

.highlightBtn {
  height: 35px;
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  width: 50%;
  padding-bottom: 30px;
}

.actionBtns {
  background-color: #9CE38B;
  border-radius: 30px;
  width: 40%;
  font-size: 80%;
  color: #101010;
  font-weight: 600;
  border: none;
  transition: 0.25s ease-in-out;

}

.scoreCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 140px;
  width: 240px;
  height: 240px;
  border: 8px solid #3bff4b;
  color: white;
  font-size: 42px;
}

.parentCircle {
  color: white;
}

.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.flex1>h1 {
  font-size: 42px;
}

.restartBtn {
  background-color: #9CE38B;
  border-radius: 30px;
  width: 150px;
  letter-spacing: 2px;
  height: 40px;
  color: #101010;
  font-weight: 700;
  border: none;
  transition: 0.25s ease-in-out;
}
.topicHeader{
  text-align: center;
}
/* MEDIA SCREEN STYLING */
@media only screen and (max-width: 1000px) {

  /* CIRCLE MISC DECORATIONS */
  .circleDecorations {
    display: none;
    position: absolute;
    left: 190px;
    margin-top: 20px;

  }

  /* NTH QUESTION CIRCLE */
  .noOfQns {
    text-align: center;
    position: absolute;
    top: 20px;
    width: 166px;
    height: 166px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #302F4D;
    font-weight: 600;
    color: white;
    border: 5px solid #FFE500;
    stroke-width: 3px;
    transition: 0.25s ease-in-out;
  }

}

/* MEDIA SCREEN  */
@media only screen and (max-width: 720px) {

  /* NTH QUESTION STYLING */
  .noOfQns {
    text-align: center;
    position: absolute;
    top: 45px;
    width: 106px;
    height: 106px;
    font-size: 450%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #302F4D;
    font-weight: 600;
    color: white;
    border: 5px solid #FFE500;
    stroke-width: 3px;
    transition: 0.25s ease-in-out;
  }

  /* QUESTION HEADER STYLING */
  .QuestionHeader {
    text-align: center;
    font-size: 150%;
    width: 60%;
  }

  /* HIIGHLIGGHT BUTTON STYLLING */
  .highlightBtn {
    height: 35px;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 30px;
  }

  .actionBtns {
    background-color: #9CE38B;
    border-radius: 30px;
    width: 40%;
    font-size: 20%;
    color: #101010;
    font-weight: 600;
    border: none;
    transition: 0.25s ease-in-out;

  }


}

@media only screen and (max-width: 500px) {

  /* QUESTION STYLING */
  .QuestionHeader {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 90%;
    width: 60%;
  }

  /* HIGHLIGHT BUTTN STYLING */
  .highlightBtn {
    height: 35px;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 30px;
  }

  .actionBtns {
    background-color: #9CE38B;
    border-radius: 30px;
    width: 40%;
    font-size: 20%;
    color: #101010;
    font-weight: 600;
    border: none;
    transition: 0.25s ease-in-out;

  }
}

/* MEDIA SCREEN  */
@media only screen and (max-width: 391px) {

  /* NTH QUESTION STYLING */
  .noOfQns {
    text-align: center;
    position: absolute;
    top: 95px;
    width: 106px;
    height: 106px;
    font-size: 450%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #302F4D;
    font-weight: 600;
    color: white;
    border: 5px solid #FFE500;
    stroke-width: 3px;
    transition: 0.25s ease-in-out;
  }

  /* QUESTION STYLING */
  .QuestionHeader {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 90%;
    width: 60%;
  }

  /* QUIZBOX STYLING */
  .quizBox {
    margin-top: 25%;
    width: 80%;
    height: auto;
    display: flex;
    border-radius: 13px;
    background-color: #302F4D;
    justify-content: center;
    transition: 1s ease-in-out;
    align-content: center;
  }

  /* HIGHLIGHT BUTTON STYLING */
  .highlightBtn {

    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
  }

  .actionBtns {
    background-color: #9CE38B;
    height: 25px;
    border-radius: 30px;
    width: 70%;
    font-size: 50%;
    color: #101010;
    font-weight: 600;
    border: none;
    transition: 0.25s ease-in-out;

  }
}

@media only screen and (max-width: 320px) {

  /* NTH QUESTION STYLING */
  .noOfQns {
    text-align: center;
    position: absolute;
    top: 65px;
    width: 106px;
    height: 106px;
    font-size: 450%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #302F4D;
    font-weight: 600;
    color: white;
    border: 5px solid #FFE500;
    stroke-width: 3px;
    transition: 0.25s ease-in-out;
  }

  /* QUESTION STYLING */
  .QuestionHeader {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 90%;
    width: 60%;
  }

  /* QUIZBOX STYLING */
  .quizBox {
    margin-top: 25%;
    width: 80%;
    height: auto;
    display: flex;
    border-radius: 13px;
    background-color: #302F4D;
    justify-content: center;
    transition: 1s ease-in-out;
    align-content: center;
  }

  /* HIGHLIGHT BUTTON STYLING */
  .highlightBtn {

    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
  }

  .actionBtns {
    background-color: #9CE38B;
    height: 25px;
    border-radius: 30px;
    width: 70%;
    font-size: 50%;
    color: #101010;
    font-weight: 600;
    border: none;
    transition: 0.25s ease-in-out;

  }
}